.form {
  width: 100%;
  max-width: 550px;
  height: auto;
  margin-top: 10rem;
  padding: 15px;
  background-color: goldenrod;
  border-radius: 10px;
}
body {
  background-color: burlywood;
}
button {
  color: black;
  background-color: gold;
  border-radius: 999px;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  border: transparent;
  margin-top: 1rem;
  font-weight: 700;
  width: 100px;
  padding: 0.5rem;
}

button:hover {
  background-color: beige;
  cursor: pointer;
}
